.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 0 5px 2px #0000004d;
    transform-style: preserve-3d;
    font-weight: 700;
    height: 250px;
    cursor: pointer;
    transition: .15s;
    transform: perspective(1000px) rotateX(var(--rotate-X, 0));
    padding: 3em;
    margin-bottom: 2rem
}

.card:hover {
    box-shadow: 0 0 5px 2px #00000080
}

.card.flipped {
    --rotate-X: 180deg
}

.card .front,.card .back {
    position: absolute;
    padding: 5px;
    justify-content: center;
    backface-visibility: hidden
}

.card .back {
    transform: rotateX(180deg)
}

.card.easy {
    background-color: #70b370;
}

.card.medium {
    background-color: #e0ae5c;
}

.card.difficult {
    background-color: #8e3f3f;
    color:white;
}